# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Space/linux-build/
Space/cocos2d/
Space/bin/
Space/proj.android/bin/
Space/proj.android/gen/
Space/proj.android/libs/
Space/proj.android/obj/
Space/proj.android/assets/
Space/bin/
Space/cocos2d/build/
Space/cocos2d/cocos/
Space/proj.ios_mac/build/
*.DS_Store
